button.tweet-btn{
    border: none;
    font-weight: bold;
    background-color: rgb(29, 155, 240);
    cursor: pointer;
    border-radius: 50px;
    color:#ffff;
}
button.tweetbox__tweet-btn{
    padding: 6px 15px;
}
button.sb-tweet-btn{
    width: 100%;
    font-size: 1.1em;
    height: 50px;
    margin: 20px 10px;
}
button.tweet-btn:hover{
    background-color: rgb(26, 137, 210);
    transition: .2s;
}